@import "variables";

body {
  --default-color-primary: #{$default-color-dark-primary};
  --default-color-primary-accent: #{$default-color-dark-primary-accent};
  --default-color-secondary: #{$default-color-dark-secondary};
  --default-color-secondary-accent: #{$default-color-dark-secondary-accent};
  --default-color-background: #{$default-color-dark-background};
  --default-color-card: #{$default-color-dark-card};
  --default-color-card-accent: #{$default-color-dark-card-accent};
  --default-color-gradient: #{$default-color-dark-gradient};
  --default-color-header: #{$default-color-dark-header};
  --default-color-text: #{$default-color-dark-text};

  --docs-color-primary: #{$docs-color-dark-primary};
  --docs-color-primary-accent: #{$docs-color-dark-primary-accent};
  --docs-color-secondary: #{$docs-color-dark-secondary};
  --docs-color-secondary-accent: #{$docs-color-dark-secondary-accent};
  --docs-color-text: #{$docs-color-dark-text};
  --docs-color-search: #{$docs-color-dark-search};
  --docs-color-search-accent: #{$docs-color-dark-search-accent};
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/font/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/font/Rubik-Regular.ttf') format('truetype');
}

html, body {
  font-family:
    Lato,
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

