.Header {
	display: flex;
	height: 70px;
	padding: 0 40px;
	background-color: #383838;
	text-transform: uppercase;
	flex-direction: row;
	justify-content: space-between;
}

.Header-title {
	display: flex;
	cursor: pointer;
	font-size: 3em;
}

.Header-title div {
	margin: auto;
}

.Header-title-link {
	display: block;
	margin: auto;
	color: #e4e4e4;
	text-decoration: none;
}

.Header-title-link.active {
	pointer-events: none;
}

.Header-nav {
	display: flex;
	height: 100%;
	flex-direction: row;
	justify-content: space-between;
	list-style-type: none;
}

.Header-nav-item {
	display: flex;
	position: relative;
	cursor: pointer;
	height: 100%;
	padding: 0 30px;
	transition: .5s;
}

.Header-nav-item:hover {
	background-color: #4e4e4e;
}

.Header-nav-item:hover .Header-nav-item-mods-dropdown {
	max-height: 500px;
}

.Header-nav-item-content {
	display: block;
	margin: auto;
	color: #e4e4e4;
	text-decoration: none;
}

.Header-nav-item-mods-dropdown {
	position: absolute;
	z-index: 2;
	width: 300px;
	max-height: 0;
	top: 70px;
	left: -90px;
	background-color: #383838;
	box-shadow: 0 5px 5px 0 #222222;
	overflow: hidden;
	transition: .5s;
}

.Header-nav-item-mods-dropdown-mod {
	display: flex;
	height: 30px;
	color: #e4e4e4;
	text-decoration: none;
}

.Header-nav-item-mods-dropdown-mod:hover {
	background-color: #4e4e4e;
}

.Header-nav-item-mods-dropdown-mod.active {
	pointer-events: none;
	background-color: #888888;
}

.Header-nav-item-mods-dropdown-mod img {
	width: 30px;
	height: 30px;
	padding-right: 7px;
}

.Header-nav-item-mods-dropdown-mod div {
	margin: auto 0;
}