.Header {
	display: flex;
	height: 70px;
	padding: 0 20px;
	color: #e4e4e4;
	background-color: #383838;
	text-transform: uppercase;
	flex-direction: row;
	justify-content: space-between;
	box-shadow: 0 5px 5px 0 #222222;
}

.Header-title {
	display: flex;
	cursor: pointer;
	font-size: 3em;
}

.Header-title div {
	margin: auto;
}

.Header-nav {
	display: flex;
	height: 100%;
	flex-direction: row;
	justify-content: space-between;
	list-style-type: none;
}

.Header-nav-item {
	display: flex;
	cursor: pointer;
	height: 100%;
	padding: 0 30px;
	transition: .5s;
}

.Header-nav-item:hover {
	background-color: #4e4e4e;
}

.Header-nav-item a {
	display: block;
	margin: auto;
	color: #e4e4e4;
	text-decoration: none;
}