.Header {
    display: flex;
    height: 70px;
    padding: 0 100px;
    color: #e4e4e4;
    background-color: #2b2b2b;
    text-transform: uppercase;
    flex-direction: row;
    justify-content: space-between;
}

.Header-title {
    display: flex;
    vertical-align: middle;
    font-size: 200%;
}

.Header-title div {
    margin: auto;
}

.Header-nav {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

.Header-nav-item {
    cursor: pointer;
    height: 100%;
    padding: 0 30px;
}