.Sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: calc(100vh - 70px);
  background-color: #383838;
  text-transform: uppercase;
  border-top: 1px solid #696969;
}

.Sidebar-header {
  display: flex;
	cursor: pointer;
  height: 40px;
  padding: 10px;
	font-size: 2em;
  background-color: #494949;
}

.Sidebar-header div {
  margin: auto;
}

.Sidebar-route-wrapper {
  position: relative;
}

.Sidebar-route {
  display: flex;
	cursor: pointer;
  height: 40px;
  padding: 10px;
	font-size: 1.2em;
  background-color: #494949;
}

.Sidebar-route div {
  margin: auto 0;
}

.Sidebar-dropdown-icon {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 22px;
  font-size: 1.2em;
}